:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 135px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 90px;
  justify-content: center;
}

.photo-card {
  flex-direction: column;
  justify-content: space-evenly; 
  height: 100%;
  width: 100%;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

.info-item {
  color: white;
  margin: 0px;
  display: grid;
  text-align: center;
  font-size: 16px;
}

.sl-background {
  background-color: green;
}
